@page "/Account/InvalidUser"
@layout AccountLayout

@using Microsoft.AspNetCore.Components.Web
@using TenCandlesOfBlazor.Components.Account.Shared

<PageTitle>Invalid user</PageTitle>

<h3>Invalid user</h3>

<StatusMessage />
