@page "/Account/InvalidPasswordReset"
@layout AccountLayout

@using Microsoft.AspNetCore.Components.Web
@using TenCandlesOfBlazor.Components.Account.Shared

<PageTitle>Invalid password reset</PageTitle>

<h1>Invalid password reset</h1>
<p>
  The password reset link is invalid.
</p>
