.title {
  text-align: center;
}

.home-page {
  flex-direction: row;
  justify-content: space-around;
}

.game-rules-container {
  flex: 0 0 50%;
  padding: 10px 10px 10px 100px;
}

.login-container {
  flex: 0 0 50%;
  padding: 100px 10px 10px 10px;
}

.input-container {

}

.input-control {

}