@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Http

@inherits LayoutComponentBase

<div class="main-layout">
  <header class="header">
    <NavLink class="logo" href="">
      CANDLE_LOGO
    </NavLink>
    <div class="account-container">
      <AuthorizeView>
        <Authorized>
          Выпадашка с логаутом
        </Authorized>
      </AuthorizeView>
    </div>
  </header>

  <main class="main-container">
    @Body
  </main>
</div>
